/*---------------------- Logo -----------------------*/
.logo {
  /* height: 40vmin; */
  pointer-events: none;
  float: left;
  margin-right: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 5s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 5s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*---------------------- App ----------------------*/
.App {
  /* padding-top: 36px; */
  text-align: center;
  /* margin: 100px; */
}

/*----- Listado de peliculas ----------------------*/
.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
  margin:7em;
}

.MoviesList-item {
  margin: 25px;
}

.card{
  border-radius: 25px;
}

.detalle{
  padding: 25px;
  margin-top:7em;
}

/*-------------- Buscador  -----------------------*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
}
/*-------------- Home  -----------------------*/
.alert {
  margin:8em;
}
.alert i{
  margin: 10px;
}
.alert strong{
  font-size: 2em;
}

/*-------------- Footer  -----------------------*/
.notFound{
  margin:8em;
}

/*-------------- Footer  -----------------------*/
footer a{
  color: black;
}
